@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6, .font-display {
    font-family: var(--font-space), sans-serif;
  }

  :root {
    --background: #ffffff;
    --foreground: #000000;
    --card: #ffffff;
    --card-foreground: #000000;
    --popover: #ffffff;
    --popover-foreground: #000000;
    --primary: #000000;
    --primary-foreground: #ffffff;
    --secondary: #808080;
    --secondary-foreground: #ffffff;
    --muted: #ffffff;
    --muted-foreground: #808080;
    --accent: #808080;
    --accent-foreground: #ffffff;
    --destructive: #000000;
    --destructive-foreground: #ffffff;
    --border: #808080;
    --input: #808080;
    --ring: #000000;
    --radius: 0.625rem;
    --chart-1: #000000;
    --chart-2: #808080;
    --chart-3: #000000;
    --chart-4: #808080;
    --chart-5: #000000;
    --sidebar: #ffffff;
    --sidebar-foreground: #000000;
    --sidebar-primary: #000000;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #808080;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #808080;
    --sidebar-ring: #000000;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-sans: var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;
    --card: #000000;
    --card-foreground: #ffffff;
    --popover: #000000;
    --popover-foreground: #ffffff;
    --primary: #ffffff;
    --primary-foreground: #000000;
    --secondary: #808080;
    --secondary-foreground: #000000;
    --muted: #000000;
    --muted-foreground: #808080;
    --accent: #808080;
    --accent-foreground: #000000;
    --destructive: #ffffff;
    --destructive-foreground: #000000;
    --border: #808080;
    --input: #808080;
    --ring: #ffffff;
    --radius: 0.625rem;
    --chart-1: #ffffff;
    --chart-2: #808080;
    --chart-3: #ffffff;
    --chart-4: #808080;
    --chart-5: #ffffff;
    --sidebar: #000000;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #ffffff;
    --sidebar-primary-foreground: #000000;
    --sidebar-accent: #808080;
    --sidebar-accent-foreground: #000000;
    --sidebar-border: #808080;
    --sidebar-ring: #ffffff;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-sans: var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }
}

@theme inline {
  --color-card: var(--card);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-radius: var(--radius);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-popover: var(--popover);
  --color-primary: var(--primary);
  --color-sidebar: var(--sidebar);
  --color-font-mono: var(--font-mono);
  --color-font-sans: var(--font-sans);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-font-serif: var(--font-serif);
  --color-foreground: var(--foreground);
  --color-destructive: var(--destructive);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-border: var(--sidebar-border);
  --color-card-foreground: var(--card-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--border);
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--muted-foreground);
}

